/* Common */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: normal;
    color: rgb(68, 68,68)
}
/*wrapper에 효과 주기*/
.wrapper {
    width: 1200px;
    margin: 0cm;
    position: relative;
    display: flow-root;
}
/*헤더 전체에 효과 주기*/
header {
    line-height: 1.5;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    
}
/*헤더 내 wrapper에 효과 주기*/
header>.wrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    top : 1;
    left: 5;
}
/* header-first에 효과주기*/
header .header-first {
    width: 940px;
    margin: 0 auto;
    padding: 6px 0 4px;
    position: relative;
    display: flex;
}

.payment {
    cursor: pointer;
    padding: 26px;
    margin-left: 0;

}
/*header-fist 내 표에 효과주기*/
header .header-first>ul {
    align-items: flex-end;
    position: relative;
    margin: auto 0;
    display: flex;
    list-style: none;
    cursor: pointer;
}
/*header-fisrt 내 play_and_app에 효과주기*/
header .player_and_app>ul {
    position: relative;
    margin: auto 1;
    display: flex;
    list-style: none;
}
/*header-seond에 효과 주기*/
header .header-second {
    position: relative;
    display: flex;
}
.logo {
    display: block;
}
/*header-second 내 표에 효과주기*/
header .header-second>ul {
    position: relative;
    top: 0;
    bottom:0;
    left: 10px;
    margin: auto 0;
    display: flex;
    align-items: flex-end;
    list-style: none;
}
/*header-third에 효과주기*/
header .header-third {
    position: relative;
    display: flex;
}
/*header-third 내 표에 효과주기*/
header .header-third>ul {
    list-style: none;
    position: relative;
    top: 0;
    bottom:0;
    left: 10px;
    margin: auto 0;
    display: flex;
    align-items: flex-end;
}
/*exhibition에 효과주기*/
.exhibititon {
    top: 5px;
    margin-top: 10px;
    border-top: 10px;
    position: relative;
    display: flex;
}
/*music_chart 전체에 효과 주기*/
.music_chart {
    top: 30px;
    position: relative;
    display: flex;
}
/* music_chart 표에 효과 주기 */
.music_chart>ul {
    font-size: 30px;
}
/*music_chart 실시간 차트 글씨에 효과 주기*/
.music_chart table caption {
    font-size: 40px;
}
/*editor_recommend에 효과주기*/
.editor_recommend {
    position:absolute;
    display: flex;
    top: 1100px
}