/* Common */
body {
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    min-width: 980px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(68, 68,68)
}
/*wrapper에 효과 주기*/
.wrapper {
    margin: 0 auto;
    position: relative;
}
/* 그림 하단 공백 제거 */
img {
    display: block;
}
.material-icons {
    cursor: pointer;
}
/*헤더 전체에 효과 주기*/
header {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px;
}
/*wrapper에 효과 주기*/
header>.wrapper {
    width: 980px;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration-line: none;
    color: black;
}
/* .header-first에 효과주기 */
header .header-first {
    font-size: 16px;
    width: 980px;
    padding: 6px 0 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
}
/* payment에 효과 주기 (21.04.02. 완료) */
.payment {
    display: flex;
    float: right;
    text-align: right ;
    cursor: pointer;
}
/* 이용권 구매 옆 박스에 효과주기 */
.purchasebox {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 2px;
    left: 2px;
    width: 18px;
    height: 14px;
    background: url(./../images/hd_5.0.png)
}
/* payment 내 이용권 구매 글씨 효과주기 (21.04.02. 완료) */
.purchase_of_a_pass {
    font-weight: bolder;
    color: #0096ff;
}
/* dowmload에 효과 주기 (21.04.02. 완료) */
.player_download {
    margin-left: 600px;
    display: flex;
    float: right;
    text-align: right;
    cursor: pointer;
}
/* player_download 내 웹플레이어 글씨 효과 주기 (21.04.02.완료) */
.webplayer {
    font-weight: bolder;
}

/* header-first 내 각 내용들을 분할시켜주는 선에 효과주기 */
.divisionline{
    color: rgb(228, 222, 222);
    cursor: auto;
}
/* .header-second에 효과주기 */
header .header-second{
    width: 980px;
    align-items: center;
    display: flex;
    height: 85px;
    margin: 0 auto;
    vertical-align: middle;
    background: transparent;
    margin-right: 410px;
}
/* .header-second 내 로고 효과주기 */
.title_logo a{
    display: block;
    width: 50%;
    height: 50%;
    line-height: 0;
    height: 20px;
    border: 0;
    position: flex;
    top: 15px;
    left: -5px;
    width: 100px;
    height: 20px;
}
/* 검색창 효과주기 */
.search{
    position: relative;
    width: 366px;
    border-bottom: 2px solid #0096FF;
    padding-top: 5px;
    
}
/* header-second 내 검색창 효과주기 */
#search_box {
    float: left;
    width: 318px;
    height: 36px;
    border: 0;
    position: relative;
}
/*header-third에 효과주기*/
header .header-third {
    width: 980px;
    justify-content: center;
    align-items: center;
    display: flex;
    vertical-align: middle;
    /* width: 980px;
    justify-content: center;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 14px; */
}
/*header-third 내 표에 효과주기*/
header .header-third>ul {
    display: flex;
    border: 0;
    outline: 0;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    width: 940px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    cursor: pointer;
}
/* 세 번째 헤더 내 지니차트 크기조정 */
.menu_title_gc {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 최신음악 크기조정 */
.menu_title_lm {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 장르음악 크기조정 */
.menu_title_gm {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 지니TV 크기조정 */
.menu_title_gt {
    width: 85.56px;
    height: 38px;
}
/* 세 번째 헤더 내 추천 크기조정 */
.menu_title_rm {
    width: 63px;
    height: 38px;
}
/* 세 번째 헤더 내 매거진 크기조정 */
.menu_title_mz {
    width: 81px;
    height: 38px;
}
/* 세 번째 헤더 뮤직허그 크기조정 */
.menu_title_mh {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더의 메뉴에 hober하지 않았을 때*/
header .header-third ul.main li.menu .sub_menu {
    display: none;
}
/* 세 번쨰 헤더의 메뉴에 hober했을 때 */
header .header-third ul.main li.menu:hover .sub_menu {
    display: block;
}
/* menu 에 hover 하지 않았을 때 */
header .header-third ul.main .contents {
    color: black;
}
/* menu에 hover 했을 때 */
header .header-third ul.main .contents:hover {
    color: #0096ff;
}

/* sub_menu 를 hover하지 않았을 때  */
header .header-third ul.main li.menu .sub_menu  {
    position: absolute;
    box-sizing: border-box;
    display: none;
}
/* sub-menu를 hover했을 때 */
header .header-third ul.main li.menu:hover .sub_menu {
    margin-left: auto;
    display: block;
    padding: 5px 0px 4px;
    color: #27282d;
    white-space: nowrap;
    padding: 5px 0 4px;
    border: 1px solid #a6afb6;
    border-top: 3px solid #0096FF;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    width: 13%;
}
/* sub-menu를 hover하기 전 내부 표 상태 */
header .header-third ul.main li.menu .sub_menu>ul li {
    padding: 6px 6px;
    text-align: start;
}
/* sub-menu를 hover한 후 내부 표 상태 */
header .header-third ul.main li.menu .sub_menu>ul li:hover {
    padding: 6px 6px;
    background: #f1f1ee;
    text-align: start;
}
/* 로그인 회원가입 버튼 */
.memberbtn {
    margin-right: 20px;
    display: flex;
    background: none;
    border: none;
    width: 150px;
}
header .header-third .member .loginbox>.material-icons {
    position: absolute;
}
header .header-third .member .loginbox .material-icons#btn--open {
    display: block;
}
header .header-third .member .loginbox .material-icons#btn--close {
    display: none;
}
header .header-third .member .loginbox #login--list {
    display: none;
}
/*exhibition에 효과주기*/
.exhibititon {
    display: flex;
    justify-content: center;
    align-content: center;
    
}
/*music_chart 전체에 효과 주기*/
.music_chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 840px;
    top: 30px;
    position: relative;
    display: flex;
}
/* music_chart 표에 효과 주기 */
.music_chart>ul {
    font-size: 30px;
}
/*music_chart 실시간 차트 글씨에 효과 주기*/
.music_chart table caption {
    font-size: 40px;
}
/*editor_recommend에 효과주기*/
.editor_recommend {
    display: flex;
    justify-content: center;
    align-items: center;
}