/* Common */
body {
    line-height: 1.5;
    min-width: 980px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(68, 68,68)
}
/*wrapper에 효과 주기*/
.wrapper {
    margin: 0 auto;
    position: relative;
}
/* 그림 하단 공백 제거 */
img {
    display: block;
}
.material-icons {
    cursor: pointer;
}
/*헤더 전체에 효과 주기*/
header {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px solid #d2d2d2;
    font-size: 12px;
}
/*wrapper에 효과 주기*/
header>.wrapper {
    width: 980px;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}
/* .header-first에 효과주기 */
header .headerFirstLeft {
    font-size: 16px;
    width: 980px;
    padding: 6px 0 4px;
    display: flex;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
}
/* payment에 효과 주기  */
.payment {
    display: flex;
    float: right;
    text-align: right ;
    cursor: pointer;
}
/* 이용권 구매 옆 박스에 효과주기 */
.purchasebox {
    margin-right: 2px;
    display: block;
    position: absolute;
    top: 0px;
    right: 2px;
    left: 2px;
    width: 18px;
    height: 14px;
}
/* payment 내 이용권 구매 글씨 효과주기  */
.purchase_of_a_pass {
    font-weight: bolder;
    color: #0096ff;
}
/* dowmload에 효과 주기 (21.04.02. 완료) */
.player_download {
    margin-left: 600px;
    display: flex;
    float: right;
    text-align: right;
    cursor: pointer;
}
/* player_download 내 웹플레이어 글씨 효과 주기 */
.webplayer {
    font-weight: bolder;
}

/* header-first 내 각 내용들을 분할시켜주는 선에 효과주기 */
.divisionline{
    color: rgb(228, 222, 222);
    cursor: auto;
}
/* .header-second에 효과주기 */
header .header-second{
    width: 980px;
    align-items: center;
    display: flex;
    height: 85px;
    margin: 0 auto;
    vertical-align: middle;
    background: transparent;
    margin-right: 410px;
}
/* .header-second 내 로고 효과주기 */
.title_logo a{
    line-height: 0;
    border: 0;
    position: flex;
    top: 45px;
    left: -5px;
    width: 2cm;
    height: 2cm;
}
header .header-second .search>.material-icons {
    color: #0096ff;
    font-size: 40px;
}
/* 검색창 효과주기 */
.search{
    position: relative;
    width: 366px;
    border-bottom: 2px solid #0096FF;
    padding-top: 5px;
}
/* header-second 내 검색창 효과주기 */
#search_box {
    font-size: 14px;
    font-weight: bolder;
    float: left;
    width: 318px;
    height: 36px;
    border: 0;
    position: relative;
}
/*header-third에 효과주기*/
header .header-third {
    width: 980px;
    display: flex;
    margin: 0 auto;
    font-size: 14px;
}
/*header-third 내 표에 효과주기*/
header .header-third>ul {
    font-weight: bolder;
    display: flex;
    border: 0;
    outline: 0;
    font-size: 18px;
    vertical-align: middle;
    position: relative;
    width: 980px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    cursor: pointer;
}
/* 세 번째 헤더 내 지니차트 크기조정 */
.menu_title_gc {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 최신음악 크기조정 */
.menu_title_lm {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 장르음악 크기조정 */
.menu_title_gm {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더 내 지니TV 크기조정 */
.menu_title_gt {
    width: 85.56px;
    height: 38px;
}
/* 세 번째 헤더 내 추천 크기조정 */
.menu_title_rm {
    width: 63px;
    height: 38px;
}
/* 세 번째 헤더 내 매거진 크기조정 */
.menu_title_mz {
    width: 81px;
    height: 38px;
}
/* 세 번째 헤더 뮤직허그 크기조정 */
.menu_title_mh {
    width: 99px;
    height: 38px;
}
/* 세 번째 헤더의 메뉴에 hober하지 않았을 때*/
header .header-third ul.headrThirdMain li.menu .sub_menu {
    display: none;
}
/* 세 번째 헤더의 메뉴에 hober했을 때 */
header .header-third ul.headrThirdMain li.menu:hover .sub_menu {
    display: block;
}
/* menu 에 hover 하지 않았을 때 */
header .header-third ul.headrThirdMain .contents {
    color: black;
}
/* menu에 hover 했을 때 */
header .header-third ul.headrThirdMain .contents:hover {
    z-index: 2;
    color: #0096ff;
}
/* 메뉴가 최신앨범보다 위에 뜰 수 있도록 설정 */
.sub_menu {
    z-index: 4;
}
/* sub_menu 를 hover하지 않았을 때  */
header .header-third ul.headrThirdMain li.menu .sub_menu  {
    position: absolute;
    box-sizing: border-box;
    display: none;
}
/* sub-menu를 hover했을 때 */
header .header-third ul.headrThirdMain li.menu:hover .sub_menu {
    margin-left: auto;
    display: block;
    padding: 5px 0px 4px ;
    color: #27282d;
    white-space: nowrap;
    border: 1px solid #a6afb6;
    border-top: 3px solid #0096FF;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    font-size: 12px;
    box-sizing: border-box;
    width: 13%;
}
/* sub-menu를 hover하기 전 내부 표 상태 */
header .header-third ul.headrThirdMain li.menu .sub_menu>ul li {
    padding: 6px 15px;
    text-align: start;
}
/* sub-menu를 hover한 후 내부 표 상태 */
header .header-third ul.headrThirdMain li.menu .sub_menu>ul li:hover {
    padding: 6px 15px;
    background: #f1f1ee;
    text-align: start;
}
/* 로그인 회원가입 버튼 */
.memberbtn {
    align-items: flex-end;
    display: flex;
    background: none;
    border: none;
    width: 150px;
}
/* 로그인 회원가입 전체 크기조정 */
.member {
    width: 128px;
}
/* 클릭 시 나오는 로그인 창  */
header .header-third .member .loginbox .material-icons {
    vertical-align: middle;
    margin-left: 100px;
    position: absolute;
}
/* 클릭 시 나오는 로그인 창 내 열림버튼 */
header .header-third .member .loginbox .material-icons#btn--open {
    display: block;
    top: 114px;
}
/* 클릭 시 나오는 로그인 창 내 닫힘버튼  */
header .header-third .member .loginbox .material-icons#btn--close {
    display: none;
}
/* 클릭 시 나오는 로그인 창 내 버튼클릭 시 나오는 로그인리스트*/
header .header-third .member .loginbox #login--list {
    display: none;
}
/* body 속성 부여 */
/*exhibition에 효과주기*/
.exhibititon {
    padding-top: 2px;
    width: 980px;
    margin: 0 auto;
}
/* .albumKind효과주기 */
.albumKind {
    display: flex;
    cursor: pointer;
}
/* .moreNewAlbum 전체 설정 */
.moreNewAlbum {
    margin-top: 15px;
    margin-left: 660px;
}
/* .moreNewAlbum 내 버튼 설정 */
.albumKind .moreNewAlbum button{
    border: 1px solid #dde0e4 ;
    background-color:white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}
/* albumKind 내 최신음악 글자 효과주기 */
#recent-music {
    display: inline-block;
    margin: 15px 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #27282d;
    margin-right: 20px;
}
/* .main_album 내 종합 국내 국외 글자 전체 효과주기 */
.albumKind >ul {
    cursor: pointer;
    display: flex;
    list-style-type: none;
    font-size: 14px;
}
/* .main_album 내 종합, 국내 효과주기 */
#name1, #name2 {
    padding-right: 15px;
}
/* 국내 국외 리스트 */
.albumKind >ul {
    margin: 23px 0 0 10px;
}
/* 각 앨범별 테두리 설정 */
.albumexhibiton {
    border: 1px solid  #e8eef3;
    margin: 0 5px;
}
/* 최신앨범- 종합 전체   */
.comprehensive_album {
    margin-left: 20px;
    margin-right: 20px;
    width: 980px;
    margin: 0 auto;
}
/* 초신앨범 위 양쪽화살표 처리 */
#material-icons_e1, #material-icons_e2 {
    font-weight: bolder;
    font-size: 15px;
    vertical-align: middle;
}
/* 단마다 주는 효과 */
.ca1 , .ca2 {
    width: 980px;
    box-sizing: border-box;
    width: 151px;
    height: 153px;
}
/* 최신앨범-종합 1단 */
.ca1 {
    display: flex;
    margin-bottom: 5px;
}
/* 최신앨범-종합 2단 */
.ca2 {
    display: flex;
}
/* 최신앨범 1단 내 존재하는 앨범의 아티스트 */
.caartist{
    top: 340px;
    height: 32px;
}
/* 최신앨범 2단 내 존재하는 앨범의 아티스트 */
.caartist2 {
    top: 491px;
    height: 40px;
}
/* 최신앨범  내 존재하는 앨범의 아티스트 */
.caartist , .caartist2 {
    z-index: 2;
    position: absolute;
    color: white;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    width: 151px;
    text-align: center;
    border: none;
    font-size: 13.9px;
    background: linear-gradient(transparent, black);
}
/* 앨범정보 */
.newAlbumInfo1 {
    width: 151px;
    height: 151px;
    position: absolute;
    top: 221px;
    background: black;
    text-align: center;
    display: none;
    vertical-align: middle;
}
/* 앨범 정보 내 앨범명 */
.albumtitle1 {
    position: absolute;
    display: block;
    top: 44px;
    width: 100%;
    height: 51px;
    padding: 0 8px;
    color: #d2d2d2;
    box-sizing: border-box
}
/* 앨범정보 */
.newAlbumInfo2 {
    width: 151px;
    height: 151px;
    position: absolute;
    top: 380px;
    background: black;
    text-align: center;
    display: none;
    vertical-align: middle;
}
/* 앨범 정보 내 앨범명 */
.albumtitle2 {
    position: absolute;
    display: block;
    top: 44px;
    width: 100%;
    height: 51px;
    padding: 0 8px;
    color: #d2d2d2;
    box-sizing: border-box
}
.newAlbumExperience{
    position: absolute;
    display: block;
    top: 110px;
    width: 100%;
    height: 51px;
    padding: 0 8px;
    color: #d2d2d2;
    box-sizing: border-box
}
.newAlbumExperience>.material-icons {
    font-size: 30px;
    font-weight: lighter;
}
/*각각의 앨범을 호버했을 때  아티스트 변화 */
.comprehensive_album .albumexhibiton:hover .caartist {
    font-weight: bold;
    top: 230px;
    background: transparent;
    text-shadow: 0px 9px 1px gray;
}
/*각각의 앨범을 호버했을  아티스트 변화 */
.comprehensive_album .albumexhibiton:hover .caartist2 {
    margin: 0 3px;
    top: 388px;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: transparent;
    text-shadow: 0px 9px 1px gray;
}
/*각각의 앨범을 호버했을  앨범정보 변화 */
.comprehensive_album .albumexhibiton:hover .newAlbumInfo1 {
    display: block;
    background: rgba(0,0,0,0.8);
}
/*각각의 앨범을 호버했을  앨범정보 변화 */
.comprehensive_album .albumexhibiton:hover .newAlbumInfo2 {
    display: block;
    background: rgba(0,0,0,0.8);
}
/* 광고창 */
.ad {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 104px;
    margin-top: 23px;
    margin-bottom: 30px;
    background-color: #e8eef3;
}
#banner1 {
    cursor: pointer;
}
/* 광고 rolling 요소 각각 정렬 */
#banner2, #banner3, #banner4, #banner5, #banner6, #banner7, #banner8  {
    display: none;
}
/* 광고 내 컨텐츠 정렬 */
.ad_contents {
    display: flex;
    width: 980px;
    margin: 0 auto;
}
/* rolling ad 옆 ad */
.ad_contents_mini {
    margin-left: 100px;
}
/* 광고창 아래 실시간차트와 hotandnew 전체 */
.chartandevent {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
/* 실시간차트 제목와 날짜 */
.chartinformation {
    display: flex;
}
/* 실시간차트 제목 설정 */
#chartName {
    font-weight: bold;
    font-size: 20px;
    top: 25px;
    margin: 21px 0 9px;
}
/* 실시간차트 날짜 설정 */
#date {
    font-size: 12px;
    display: inline-block;
    top: 27px;
    margin-top: 30px;
    margin-left: 430px;
    right: 0;
    color: #8b8b8b;  
}
/* 실시간 차트 전체 설정 */
#chart_info, #chart_contents {
    height: 528x;
    width: 624px;
    float: left;
}
/* 실시간차트표 세부설정 */
.musicChartContents {
    border-top: 1px solid darkgray;
    width: 620px;
    height: 463px;
}
/* 실시간 차트 각 행 */
.musicChartContents  tr{
    box-sizing: border-box;
    height: 10px;
    border-bottom: 1px solid #e8eef3;
}
/* 실시간 차트 내 첫 번째 행  */
.musicChartContents thead {
    display: none;
}
/* 실시간 차트 내 순위 */
.chart_ranking {
    vertical-align: middle;
    align-content: center;
    font-size: 13px;
    text-align: right;
    font-weight: bold;
    font-style: oblique;
    width: 30px;
}
/* 호버 했을 때 순위의 변화 */
.musicChartContents tr:hover td.chart_ranking {
    height: 50px;
    font-size: 30px;
}
/* 실시간 차트 내 순위 변동 */
.chart_fluctuation {
    vertical-align: middle;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 10px;
    width: 38px;
    text-align: center;
}
/* 호버 했을 때 순위변동의 변화 */
.musicChartContents tr:hover td.chart_fluctuation {
    height: 50px;
}
.musicChartContents .chart_photo {
    display: none;
}
/* 차트에 호버했을 때 앨범 커버가 뜨도록 하기*/
.musicChartContents tr:hover .chart_photo {
    display: block;
    margin : 10px 13px 0 10px;
    border: .5px solid #8b8b8b;
}
/* 차트 속 곡명과 아티스트 명 배열 */
.chart_musicinfo {
    display: flex;
    margin-top: 10px;
}
.musicChartContents tr:hover .chart_title {
    position: absolute;
}
/* 실시간 차트 내 노래 제목 */
.chart_title {
    width: 250px;
    padding-right: 70px;
    font-size: 13.5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 호버했을 때 노래 제목 변화 */
.musicChartContents tr:hover .chart_title{
    box-sizing: border-box;
    height: 40px;
    display: block;
    font-weight: bolder;
    margin: 0;
    margin-left: 72px;
    margin-top: 12px;
    display: flex;
    width: 300px;
}
/* 실시간 차트 내 아티스트 */
.chart_artist {
    padding-top: 2px;
    color: rgb(136, 133, 133);
    font-size: 13.5px;
    width: 120px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right;
} 
/* 호버했을 때 아티스트 변화 */
.musicChartContents tr:hover .chart_artist {
    margin-top: 33px;
    margin-left: .01px;
    display: flex;
    width: 250px;
}
/* 실시간 차트 내 음악듣기 기능 */
.chart_music_listen {
    vertical-align: middle;
    font-size: 2px;
    color:darkgrey;
}
/* 호버 했을 때 음악듣기 기능아이콘의 변화 */
.musicChartContents tr:hover td.chart_music_listen {
    height: 50px;
}
/* 음악듣기 아이콘을 호버했을 때의 변화 */
.musicChartContents td.chart_music_listen:hover {
    height: 50px;
    color: black;
}
/* 실시간 차트 내 음악 담기 기능 */
.chart_music_add {
    vertical-align: middle;
    font-size: 2px;
    justify-content: center;
    align-items: center;
    color:darkgrey;
}
/* 호버 했을 때 음악담기 아이콘의 변화 */
.musicChartContents tr:hover td.chart_music_add {
    height: 50px;
}
/* 음악담기 아이콘을 호버했을 때의 변화 */
.musicChartContents td.chart_music_add:hover {
    height: 50px;
    color: black;
}
/* 실시간 차트 내 더보기 기능 */
.chart_music_etc {
    vertical-align: middle;
    font-size: 5px;
    padding-right: 9px;
    color:darkgrey;
}
/* 호버 했을 때 음악정보 더보기아이콘의 변화 */
.musicChartContents tr:hover td.chart_music_etc {
    height: 50px;
}
/* 더보기 아이콘을 호버했을 때의 변화 */
.musicChartContents td.chart_music_etc:hover {
    height: 50px;
    color: black;
}
/* 실시간 차트 내 .material-icons 관련*/
.chartandevent .music_chart .music_chart_list >.material-icons {
    position: absolute;
} 
/* 실시간 차트 밑 음악 듣기 관련 기능 모음 */
.listenmore{
    display: flex;
    border-top: 1px solid darkgray;
}
/* 실시간 차트 밑 음악 듣기 관련 기능 속 표 */
.listenmore_entire  td{
    height: 20px; 
}
.chartandevent .listenmore .entire >button {
    color: black;
    background: white;
    border-radius: 15px;
}
/*실시간 차트 아래 전체듣기 전체추가 버튼  */
#musicentirelisten, #musicentireadd {
    width: 78px;
    height: 24px;
    margin-right: 1px;
    padding: 0 2px 0 2px;
    border: 1px solid #a6afb6;
    border-radius: 4px;
    font-size: 11px;
    line-height: 23px;
    color: #27282d;
}
#musicentirelisten {
    margin-left: 20px;
    margin-right: 20px;
}
/* 실시간 차트 아래 전체듣기 전체추가 버튼 속 아이콘 */
#material-icons_c1, #material-icons_c2 {
    vertical-align: middle;
    font-size: 15px;
}
/* 실시간 차트 밑 top200 음악 듣기 기능 */
.top200listen {
    vertical-align: middle;
    font-size: 14px;
    cursor: pointer;
    margin-left: 290px;
}
/* top200 음악 듣기 기능 옆 아이콘 */
.chartandevent .listenmore .top200listen >.material-icons {
    position: absolute;
    color: black;
    vertical-align: middle;
}
#hot_and_new {
    width: 308px;
    font-weight: bold;
    font-size: 20px;
    top: 20px;
    margin: 20px 0 2px;
    padding-right: 10px;
    float: right;
}
/* hot and new 상단 첫번째 그림 */
#hanf1 {
    margin-top: 10px;
}
/* hot and new 상단 scroll 그림 처리 */
#hanf2, #hanf3, #hanf4, #hanf5 {
    display: none;
} 
/* hot and new 2번째 표 정리 */
.han_s_ul {
    display: block;
    position: relative;
}
/* hot and new 2번째 표 내 사진 정리 */
.hansphoto {
    margin-top: 15px;
    width: 66px;
    height: 66px;
    border: 1px solid #000;
}
/* hot and new 2번째 표 내 줄 정리 */
.han_s_ul li {
    height: 90px;
}
/* hot and new 2번째 표 내 컨텐츠 정리 */
.han_s_ulcontents {
    display: flex;
    border-bottom: 1px solid #dedede;
}
/* hot and new 표 내 정보 정리 */
.hanscategory, .hansalbumtitle {
    font-size: 12px;
    font-weight: bold;
}
/* hot and new 표 내 정보 정리 */
.hansinfo {
    display: block;
    position: relative;
    height: 69px;
    padding: 10px 20px 0 20px;
}
/* hot and new 앨범 카테고리 정리 */
.hanscategory {
    margin-top: 12px;
}
/* hot and new 정보 내 앨범 정리 */
.hansalbumtitle {
    margin-top: 5px;
}
/* hot and new 정보  내 아티스트 정리 */
.hansartist {
    font-size: 12px;
}
/* 에디터 추천 제목 */
#editorRecommend {
    font-weight: 800;
    font-size: 20px;
    display: inline-block;
    margin: 15px 0 15px;
    color: #27282d;
    vertical-align: baseline;
    padding-left: 6px;
}
/* 에디터 추천 */
.editor_recommend {
    padding-top: 50px;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
/* 에디터 추천 2단 단체 정렬 */
.editiorRecommendContents_1 , .editiorRecommendContents_2 {
    display: flex;
    width: 980px;
    margin: 0 auto;
}
/* 에디터 추천 1번째 줄 */
.editiorRecommendContents_1 li {
    padding-right: 9px;
    display: block;
    float: left;
    position: relative;
    width: 224px;
    height: 276px;
    margin: 0 7px 13px 6px;
}
/* 에디터 추천 2번째 줄 */
.editiorRecommendContents_2 li {
    padding-right: 9px;
    display: block;
    float: left;
    position: relative;
    width: 224px;
    height: 276px;
    margin: 0 7px 13px 6px;
}
#material-icons_ed1, #material-icons_ed2, #material-icons_ed3, #material-icons_ed4 {
    font-size: 14px;
    color: darkgray;
}
/* 에디터 추천 사진 */
.er_photo {
    border: 1px solid #e5e5e5;
    position: relative;
    width: 100%;
    height: 147px;
}
/* 에디터 추천 이벤트 */
.er_ci_event {
    position: absolute;
    top: 131px;
    left: 0;
    line-height: 15px;
    background-color: #ff5b62;
    color: #fff;
    font-size: 11px;
    padding: 1px 3px 0;
    display: inline-block;
}
/* 에디터 추천 사진 제외 */
.er_ci {
    position: relative;
    width: 225px;
    height: 127px;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-top: 0;
    box-sizing: border-box;
    padding: 18px  0;
    padding-left: 2px;
}
/* 에디터 추천 카테고리 */
.er_ci_category {
    padding-left: 10px;
    font-size: 11px;
    color: #969697;
}
/* 에디터 추천 내용 */
.er_ci_title {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 2.4em;
}
/* 에디터 추천 하단 부제 */
.er_ci_subci {
    display: flex;
    margin-top: 12px;
    position: absolute;
    left: 0;
    padding: 0 13px;
    font-size: 11px;
    color: #969697;
}
/* 에디터 추천 하단 부제 내 왼쪽 정렬 */
.er_ci_subci_left {
    display: flex;
}
/* 에디터 추천 하단 부제 내 오른쪽 정렬 */
.er_ci_subci_right {
    margin-left: 45px;
}
/* 에디터 추천 밑에 있는 버튼 */
#morecontents {
    background-color: #f7f8f9;
    border: lpx solid #f7f8f9;
    width: 168px;
    height: 40px;
    border-color: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 3px;
    left: 50%;
    margin-left: 400px;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
}
/* dj 뱃지 */
.djicon {
    margin-right: 10px;
}
/* 컨텐츠 더 보기 아이콘 */
#material-icons_ed5 {
    font-size: 30px;
    vertical-align: middle;
}
/* 지니TV  */
.genietv {
    height: 308px;
    width: 980px;
    margin: 0 auto;
}
/* 지니TV 전체 선택지 */
.genietv  .tvmenu {
    display: flex;
    margin-bottom: 10px;
}
/* 지니TV 제목 */
#titlegenietv {
    font-weight: 800;
    font-size: 20px;
}
/* 지니TV 옆 선택지 */
.genietv .tvmenu .genietvkind {
    padding-top: 8px;
    padding-left: 20px;
    display: flex;
}
#genietvrecomm {
    font-size: 12px;
}
/* 지니TV 옆 선택지 속 hot선택지 */
#tvmenuHOT {
    font-size: 12px;
    margin-left: 20px;
}
/* 지니TV 옆 선택지 속 mnet방송 선택지 */
#mnetbrod {
    font-size: 12px;
    margin-left: 20px;
}
/* 지니TV 내용 */
.genietv .genietvcontents {
    width: 980px;
    margin: 0 auto;
    display: flex;
}
/* 지니TV 표 */
.genietvcontents>li {
    padding-right: 7.2px;
    display: block;
    float: left;
    position: relative;
    width: 226px;
    height: 254px;
    margin: 0 6px;
}
/* 지니TV 내 컨텐츠 썸네일 적용 */
.tvthumbnail {
    border: 1px solid #e5e5e5;
    overflow: hidden; 
    width: 226px;
    height: 127px;
}
/* 지니TV 내 컨텐츠 내용 적용 */
.tvinfo {
    position: relative;
    width: 228px;
    height: 127px;
    padding: 15px 14px 0;
    border: 1px solid #e5e5e5;
    border-top: 0;
    box-sizing: border-box;
}
/* 지니TV 내 컨텐츠 내용 - 카테고리 적용 */
.genietvcontents li .tvinfo .category {
    display: inline-block;
    overflow: hidden;
    height: 13px;
    margin: 0 4px 0 4px;
    padding: 1px 2px 2px 1px;
    border: 1px solid #8b8b8b;
    border-radius: 2px;
    color: #8b8b8b;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: -1px;
    vertical-align: top;
}
/* 지니TV 내 컨텐츠 내용 - 제목 적용 */
.tvcontes_title {
    display: block;
    padding-top: 6px;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-wrap: break-word;
    height: 33px;
}
/* 지니TV 내 컨텐츠 내용 - 아티스트 적용 */
.tvcontents_artist {
    display: block;
    font-size: 12px;
    position: relative;
    line-height: 22px;
    height: 24px;
    position: absolute;
    bottom: 13px;
    left: 14px;
    right: 14px;
    color: #969697;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    width: auto;
}
/* 지니TV 내 컨텐츠시간 */
.music-time {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -19px;
    height: 16px;
    padding: 2px 6px 0 5px;
    font-size: 11px;
    background-color: #000;
    background: rgba(0,0,0,0.7);
    color: #fff;
}
/* footer 전체 설정 */
.footer {
    display: flex;
    width: 980px;
    margin: 0 auto; 
}
/* footer-first 전체 속성 */
.footer-first {
    height: 41px;
    margin-top: 100px;
    cursor: pointer;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid darkgray;
}
/* footer-first 내 noticeandservice 속성 */
.noticeandservice {
    height: 41px;
    display: flex;
    width: 980px;
    margin: 0 auto;
}
/* 공지사항 */
.notice {
    height: 41px;
    font-size: 14px;
    width: 52px;
    /* display: inline-block; */;
    padding-top: 10px;
}
/* 첫 번째 공지사항 정렬 */
.firstnotice {
    height: 41px;
    padding-top: 10px;
    display: inline-block;
}
/* 첫 번째 공지사항 글자 정렬 */
#fisrtnoticecontents {
    padding-top: 10px;
    height: 41px;
    margin-left: 30px;
    font-size: 14px;
    width: 225px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#morenotice1, #morenotice2 {
    margin-left: 10px;
    border: 0.1px solid #aab1b8;
    margin-top: 10px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: white;
}
#morenotice2 {
    margin-left: -3px;
}
#material-icons_f1 , #material-icons_f2 {
    font-weight: bold;
    vertical-align: middle;
    font-size: 12px;
    background-color: none;
}
#material-icons_f1 {
    font-weight: bold;
    color: #8b8b8b;
    margin-left: -3px;
}
#material-icons_f2 {
    margin-left: -2px;
}
.service {
    margin-top: 10px;
    height: 41px;
    font-size: 14px;
    margin-left: 319px;
}
.service ul li {
    height: 41px;
    margin: 0 6px 0 6px;
}
/* footer-first 내 more_service 속성 */
.more_service {
    display: flex;
}
/* footer-second 전체 속성 */
.footer-second {
    font-size: 12px;
    width: 980px;
    margin: 0 auto;
}
#material-icons_f3 {
    font-size: 14px;
}
/* 두 번째 헤더 내 약관정보 */
.use-related-information {
    display: flex;
}
/* 두 번째 헤더 내 약관정보  세부사항*/
.relatedinfo {
    margin-top: 20px;
    font-size: 13.3px;
}
.btncluster{
    margin-left: 30px;
    margin-top: 15px;
}
/* 유튜브 가기 버튼 */
#goyoutube {
    cursor: pointer;
    border: none;
    width: 34px;
    height: 34px;
    background-image: url(./../images/btn_youtube.png);
}

/* 네이버 블로그 가기 버튼 */
#gonaverblog {
    cursor: pointer;
    border: none;
    width: 34px;
    height: 34px;
    background-image: url(./../images/btn_blog.png);
}
/* 페이스북 가기 버튼 */
#gofacebook {
    cursor: pointer;
    border: none;
    width: 34px;
    height: 34px;
    background-image: url(./../images/btn_fb.png);
}
/* 푸터 내 회사 로고 */
.logo-company {
    margin-top: 32px;
    margin-right: 20px;
}
/* 회사 로고 옆 회사 정보 */
.company-info {
    color: #969697;
    display: flex;
}
/* .footer-second 내 정보1 설정 */
.company-info1 {
    width: 811px;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}
/* .footer-second 내 정보2 설정 */
.company-info2 {
    width: 811px;
    display: flex;
    margin-left: 20px;
    margin-bottom: 4px;
}
/* .footer-second 내 정보3 설정 */
.company-info3 {
    width: 811px;
    display: flex;
    margin-left: 20px;
}
/* .footer-second 내 사업자정보확인  */
#check-business-information {
    margin-top: 2x;
    cursor: pointer;
}
/* 사업자정보확인 옆 아이콘 크기 조정 */
#material-icons_f4 {
    font-size: 10px;
    margin-top: 1px;
}
/* .음악저작권 관련 */
#musiccopyright {
    cursor: pointer;
}
/* 전체 상장들 정렬 */
.list-emblem {
    margin-top: 40px;
}
/* 상장들 정렬 */
.emblem1 , .emblem2 {
    display: flex;
}
/* 아랫단 상장 개별 정렬 */
.emblem2 {
    margin-top :10px
}
/* 상장들 간 간격 조절 */
.emblem1 >li , .emblem2>li {
    margin-right: 20px;
}